// ESIS COLORS, YOU CAN ADD WHATEVER YOU THINK WILL SUIT TO THE SYSTEM

$color-blue: blue;
$color-red:rgb(126, 13, 13);
$color-white:white;
$color-dark:black;
$color-gray:rgba(224, 223, 223, 0.986);
$color-gray-2:rgba(245, 243, 243, 0.986);

