<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">         

    <title>eSis</title>
</head>
<body>
    <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
    </ul>
    <!-- TEST TOGGLE MENU -->
    <div class="hamburger-button">
        <div class="bar1" onclick="toggleMenu()"></div>    
      </div>
    <div class="sidebar">
        <div class="sidebar__items">
          <ul class="sidebar__list">
            <li>
              <a class="sidebar__link">My favorites</a>
            </li>
            <li>
                <a class="sidebar__link">Student Center</a>
            </li>
            <li>
                <a class="sidebar__link">Self Service</a>

            </li>
            <li>
                <a class="sidebar__link">UWRF-Scholarships</a>

            </li>
            <li>
                <a class="sidebar__link">UWRF-Admissions</a>
            </li>
          </ul>   
          <!-- <div class="img-fluid">
            <img src="/images/uwrf-logo1.png" alt="UWRF LOGO">
          </div> -->
        </div>
    </div>
