<% include ./partials/header %>
    <div class="content__main container">
            <h1>WELCOME TO THE NEW ESIS <%=student[0].firstName%></h1> 
    </div>

<% include ./partials/footer %>
    
    
  